// Fuentes
$fuente_principal: "Poppins", sans-serif;

//Tamaño Media Queries 
$telefono: 375px;
$desktop: 1440px;

//Colores

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue:  hsl(212, 86%, 64%);

$grey500: hsl(234, 12%, 34%);
$grey400: hsl(212, 6%, 44%);
$white: hsl(0, 0%, 100%);

//Fuentes
$extralight: 200;
$regular: 400;
$semibold: 600;